In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('../data/2-8-2022,12:9.csv')

In [9]:
df.columns

Index(['user_id', 'id', 'uri', 'title', 'price', 'content', 'imgs', 'refresh',
       'category', 'beds', 'livings', 'wc', 'area', 'type', 'street_width',
       'age', 'last_update', 'street_direction', 'ketchen', 'ac', 'furnished',
       'location', 'path', 'user', 'native', 'rent_period', 'city', 'district',
       'width', 'length', 'advertiser_type', 'create_time', '__typename'],
      dtype='object')

---------------------

there are 33 columns i will descripe them here and more information below 
price: the price yearly 

 beds: how many bedrooms are there

  livings : how many leving room are there

wc: no of water closet

user_id : each user has his own id 

id : each post/ad has it own id (this is unique)

title : title of the post 

uri : is compination between the title of the post and the id of the post (this is unique)


content : content in the page of each post

imgs : list contain the images of each post 

create_time : the creation of the page 


refresh : 
last_update : 



category : all have the same category (apartment)

rent_period :all have the same rent_period (3 meaning yearly)

city : all have the same city (riyadh)

district : neighborhood name 



type : 



street_width : the width of the street 



street diraction : 



age : how old is the apartment 

street_direction : 

ketchen , ac , furnished : does the apartment contain this facilitys or not 

location : the lat and mag of the apartment 

path : indicate how to get to the page from the main page in aqar.sa + id of the post (this is unique)

width , length = is the width and the length 

area = the area of the apartment

advertiser_type = what type of dealler 

__typename  = somthing to do with web scraping 

native = all nulls 

user = user info {name  , review , phone 'not always' , if verified  }

------------

i will assume for now that 20-25 will be used columns with (user info)

-----
more info

In [10]:
df['user_id'].value_counts() #each user has his own user id

1992649    289
901785     171
2072661     93
1958104     91
345254      79
          ...
1647753      1
1826145      1
274829       1
1903481      1
170065       1
Name: user_id, Length: 1761, dtype: int64

In [13]:
df['id'].value_counts() # each post has only one unique id

4355600    1
4504971    1
4504579    1
4177474    1
4465579    1
          ..
4393987    1
4317590    1
4439708    1
4340190    1
3761781    1
Name: id, Length: 6845, dtype: int64

In [16]:
df['title'].value_counts() # the title of the post some are unique and other are not (this does not mean spam)

شقة للإيجار في حي الياسمين ، الرياض ، الرياض                          135
شقة للإيجار في حي المونسية ، الرياض ، الرياض                           80
شقة للإيجار في حي العارض ، الرياض ، الرياض                             72
شقة للإيجار في حي النرجس ، الرياض ، الرياض                             57
شقة للإيجار في حي الملقا ، الرياض ، الرياض                             46
                                                                     ...
شقة للإيجار في شارع رحمه الله السندي ، حي حطين ، الرياض ، الرياض        1
شقة للإيجار في شارع عبدالله بن سويلم ، حي النهضة ، الرياض ، الرياض      1
شقة للإيجار في شارع أبي المظفر الحسن ، حي العارض ، الرياض ، الرياض      1
شقة للإيجار في شارع ممر59 ، حي الياسمين ، الرياض ، الرياض               1
شقة للإيجار في شارع الخليفة المأمون ، حي بدر ، الرياض ، الرياض          1
Name: title, Length: 3215, dtype: int64

In [18]:
df['price'] # this indicate the price of the apartment rented yearly

35000     400
30000     362
25000     329
40000     302
45000     285
         ...
8500        1
250         1
49000       1
14500       1
300000      1
Name: price, Length: 198, dtype: int64

In [19]:
df['content'] #this indicates the content in post

0       شقة للايجار 3 غرف وصالة\n مكونة من :-\nغرفتين ...
1       الان يتوفر لدى الابعاد العقارية \n\nشقة في الد...
2       يرجى التواصل قبل التوجه /دور ارضي من فيله مدخل...
3       شقة للإيجار السنوي مكونة من : \n\nغرفتين - صال...
4       شقة للإيجار السنوي مكونة من : \n\nغرفة - صالة ...
                              ...
6840    شقة غرفة وحمام ومطبخ مكيفات اسبلت ومطبخ راكب ب...
6841    شقه للايجار عوايل  بحي الملك فيصل غرفتين وصاله...
6842                         شقة 3غرفه مكيف ومطبخ وحمامين
6843    شقه للايجار غرفتين ومطبخ وصاله ودوره مياه\nراك...
6844    شقة للايجار \nسكن افراد \nالشفاء طريق الخليفة ...
Name: content, Length: 6845, dtype: object

In [23]:
df['imgs'] # (list) inside each post indicates the images

0       ['002045406_1654817733482.jpg', '002045403_165...
1       ['000640032_1655750145590.jpg', '000640039_165...
2       ['552600943_1658370618721.jpg', '552600943_165...
3       ['564068180_1657888147117.jpg', '564068180_165...
4       ['564068180_1658767888840.jpg', '564068180_165...
                              ...
6840                                                  NaN
6841                                                  NaN
6842                                                  NaN
6843                                                  NaN
6844                                                  NaN
Name: imgs, Length: 6845, dtype: object

In [14]:
df['uri'].value_counts() # this is compintion of the title and the id of the post

شارع-رافع-بن-سالم-حي-اليرموك-الرياض-الرياض-4355600               1
شارع-السليل-حي-الاندلس-الرياض-الرياض-4504971                     1
حي-شارع-ثابت-بن-حزم-حي-أم-الحمام-الشرقي-الرياض-الرياض-4504579    1
شارع-وادي-البطحاء-حي-الملقا-الرياض-الرياض-4177474                1
شارع-قلعة-الفسطاط-حي-اشبيلية-الرياض-الرياض-4465579               1
                                                                ..
حي-الياسمين-الرياض-الرياض-4393987                                1
شارع-الهفوف-حي-اليرموك-الرياض-الرياض-4317590                     1
شارع-طريف-حي-النرجس-الرياض-الرياض-4439708                        1
شارع-رقم-500-حي-الملقا-الرياض-الرياض-4340190                     1
شارع-الخليفة-المأمون-حي-بدر-الرياض-الرياض-3761781                1
Name: uri, Length: 6845, dtype: int64

In [24]:
df['refresh'].value_counts() # time in milisecond

1659438790    34
1659188031     7
1658519560     4
1659219658     3
1659219641     3
              ..
1659084990     1
1658772247     1
1659437223     1
1658941089     1
1658993460     1
Name: refresh, Length: 6477, dtype: int64

In [26]:
df['category'].value_counts() # if 1 that mean it's apartment explained this in {json_data} inside Webscraping file

1    6845
Name: category, dtype: int64

In [28]:
df['beds'].value_counts() #number of rooms

3    2893
1    1667
2    1103
4     983
5     168
6      19
7      12
Name: beds, dtype: int64

In [31]:
df['livings'].value_counts() #how many livingroom in the house

1.0    5576
0.0     698
2.0     534
3.0      32
5.0       2
4.0       1
Name: livings, dtype: int64

In [32]:
df['wc'].value_counts() #no of water closet

2    2623
1    2161
3    1606
4     361
5      94
Name: wc, dtype: int64

In [35]:
df['area'].value_counts() # the area of the apartment

150.0     791
100.0     485
200.0     416
120.0     398
80.0      327
         ...
209.0       1
62.0        1
1800.0      1
163.0       1
456.0       1
Name: area, Length: 281, dtype: int64

In [39]:
df['type'].value_counts() ## not sure about that

0.0    4
1.0    4
2.0    2
3.0    1
Name: type, dtype: int64

In [41]:
df['street_width'].value_counts()  #width of the street

5.0     1128
20.0     916
30.0     803
15.0     684
36.0     395
        ...
91.0       1
75.0       1
95.0       1
77.0       1
82.0       1
Name: street_width, Length: 82, dtype: int64

In [44]:
df['age'].value_counts() # how old is the apartment zero incates that it is new

0.0     2799
2.0      568
3.0      534
4.0      439
5.0      428
1.0      426
6.0      153
7.0      145
10.0     124
8.0      106
9.0       78
20.0      56
15.0      43
11.0      30
12.0      26
16.0      19
30.0      15
13.0      14
25.0      12
14.0      12
22.0      10
17.0      10
19.0       9
26.0       5
21.0       5
18.0       5
23.0       5
24.0       4
29.0       4
35.0       4
36.0       4
34.0       3
27.0       3
28.0       2
33.0       1
32.0       1
Name: age, dtype: int64

In [47]:
df['last_update'].value_counts() #this is the last update in the page not sure whats the diffrence between this and refresh yet

1659438790    34
1659188031     7
1658519560     4
1659434490     3
1659329005     3
              ..
1659437223     1
1658941089     1
1659383924     1
1659405762     1
1658993460     1
Name: last_update, Length: 6462, dtype: int64

In [48]:
df['street_direction'].value_counts() #######

1.0     7
0.0     4
2.0     3
3.0     3
5.0     2
6.0     1
4.0     1
10.0    1
9.0     1
Name: street_direction, dtype: int64

In [50]:
df['ketchen'].value_counts() # is there ketchen or not

1.0    5859
0.0     967
Name: ketchen, dtype: int64

In [52]:
df['ac'].value_counts() #does it come with ac or not ac and ketchen in the site come check mark only

1.0    4871
0.0    1954
Name: ac, dtype: int64

In [54]:
df['furnished'].value_counts() # does come furnished ?

0.0    6251
1.0     547
Name: furnished, dtype: int64

In [55]:
df['location'] # the location of the apartment

0       {'lat': 24.79471, 'lng': 46.767166, '__typenam...
1       {'lat': 24.756176, 'lng': 46.671421, '__typena...
2       {'lat': 24.803932, 'lng': 46.647847, '__typena...
3       {'lat': 24.602213, 'lng': 46.743336, '__typena...
4       {'lat': 24.670595, 'lng': 46.721943, '__typena...
                              ...
6840    {'lat': 24.827942, 'lng': 46.774376, '__typena...
6841    {'lat': 24.761369, 'lng': 46.773043, '__typena...
6842    {'lat': 24.540215, 'lng': 46.690202, '__typena...
6843    {'lat': 24.792571, 'lng': 46.63099, '__typenam...
6844    {'lat': 24.551849, 'lng': 46.71204, '__typenam...
Name: location, Length: 6845, dtype: object

In [57]:
df['path'] #the distintion from the main page in the site

0       /شقق-للإيجار/الرياض/شرق-الرياض/حي-اليرموك/شارع...
1       /شقق-للإيجار/الرياض/شمال-الرياض/حي-المروج/شارع...
2       /شقق-للإيجار/الرياض/شمال-الرياض/حي-الصحافة/شار...
3       /شقق-للإيجار/الرياض/وسط-الرياض/حي-المنصورة/شار...
4       /شقق-للإيجار/الرياض/وسط-الرياض/حي-الضباط/شارع-...
                              ...
6840    /شقق-للإيجار/الرياض/شرق-الرياض/حي-المونسية/حي-...
6841    /شقق-للإيجار/الرياض/شرق-الرياض/حي-الملك-فيصل/ش...
6842    /شقق-للإيجار/الرياض/جنوب-الرياض/حي-بدر/طريق-اب...
6843    /شقق-للإيجار/الرياض/شمال-الرياض/حي-العقيق/طريق...
6844    /شقق-للإيجار/الرياض/جنوب-الرياض/حي-بدر/شارع-ال...
Name: path, Length: 6845, dtype: object

In [59]:
df.iloc[32]['path'] # the number in the end is the id of the site

'/شقق-للإيجار/الرياض/شمال-الرياض/حي-الملقا/شارع-الأمير-يزيد-بن-عبدالله-بن-عبدالرحمن-حي-الملقا-الرياض-الرياض-4574362'

In [63]:
df['user'][0] # name and information about the dealer

"{'review': 4.35, 'img': '550587483_1653758949354.jpg', 'name': 'مجموعة هيبة الزهراء للعقارات', 'phone': 0, 'iam_verified': True, 'rega_id': None, '__typename': 'ListingUser'}"

In [65]:
df['native'] # does not mean anything accully i belive they delete it

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
6840   NaN
6841   NaN
6842   NaN
6843   NaN
6844   NaN
Name: native, Length: 6845, dtype: float64

In [68]:
df['rent_period'].value_counts() # three mean it is rent it yearly this is what i scrapped

3    6845
Name: rent_period, dtype: int64

In [71]:
df['city'].value_counts() # i scrapped only Riaydh

الرياض    6845
Name: city, dtype: int64

In [74]:
df['district'].value_counts() # the neighbourhood of the apartment

حي النرجس      779
حي العارض      689
حي الملقا      575
حي اليرموك     402
حي الياسمين    339
              ...
حي جبرة          1
حي الفيصلية      1
حي الغنامية      1
حي الصناعية      1
حي الفوطة        1
Name: district, Length: 133, dtype: int64

In [77]:
df['width'].value_counts() # the width (lots of na and i think that the area is enough)

10.00     1018
12.00      547
1.00       425
15.00      399
20.00      333
          ...
98.00        1
104.00       1
62.00        1
10.79        1
31.00        1
Name: width, Length: 110, dtype: int64

In [79]:
df['length'] # same

0        NaN
1       10.0
2        NaN
3        NaN
4        NaN
        ...
6840     NaN
6841     NaN
6842     NaN
6843    12.0
6844    12.0
Name: length, Length: 6845, dtype: float64

In [82]:
df['advertiser_type'].value_counts() #type of the dealer

exclusive_marketer    2565
normal_marketer       1735
owner                 1660
agent                  665
Name: advertiser_type, dtype: int64

In [85]:
df['create_time'].value_counts() # the creation time of the post we see that there is a diffrence between it and refresh & last_update

1655314269    2
1658581807    2
1658694358    2
1659275992    2
1658772247    2
             ..
1652698028    1
1655573695    1
1653231214    1
1657723056    1
1638261134    1
Name: create_time, Length: 6839, dtype: int64

In [88]:
df['__typename'].value_counts() # ithink something todo with the webscraping

ElasticWebListing    6845
Name: __typename, dtype: int64

Unnamed: 0                                                          3
user_id                                                       1352428
id                                                            4519772
uri                 شارع-الامير-سعود-بن-عبدالرحمن-الثاني-حي-المنصو...
title               شقة للإيجار في شارع الامير سعود بن عبدالرحمن ا...
price                                                           17500
content             شقة للإيجار السنوي مكونة من : \n\nغرفتين - صال...
imgs                ['564068180_1657888147117.jpg', '564068180_165...
refresh                                                    1659081354
category                                                            1
beds                                                                2
livings                                                           1.0
wc                                                                  2
area                                                              NaN
type                                                              NaN
street_width                                                      NaN
age                                                               NaN
last_update                                                1659081354
street_direction                                                  NaN
ketchen                                                           0.0
ac                                                                0.0
furnished                                                         0.0
location            {'lat': 24.602213, 'lng': 46.743336, '__typena...
path                /شقق-للإيجار/الرياض/وسط-الرياض/حي-المنصورة/شار...
user                {'review': 4.82, 'img': None, 'name': 'مكتب عق...
native                                                            NaN
rent_period                                                         3
city                                                           الرياض
district                                                  حي المنصورة
width                                                             NaN
length                                                            NaN
advertiser_type                                    exclusive_marketer
create_time                                                1657888426
__typename                                          ElasticWebListing
Name: 3, dtype: object